html, body {
    background-color: aliceblue;
    margin: 0;
    padding: 0;
    height: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    align-items: center;
    height: 100%;
}

.column {
    width: 100%; 
    margin: 20px 0;
    text-align: center;
}

a {
    color: #3399ff; 
    text-decoration: none;
}
/* 1번째 attribute selector */
input[type="text"] {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #3399ff;
    border-radius: 4px;
}

/* 2번째 attribute selector */
div[class='game'] {
    margin: 20px 0;
    background-color: #f2f2f2;
    padding: 10px;
    box-shadow: 0 2px 4px #101010;
}

nav {
    background: skyblue;
    color: black;
    padding: 0.5rem;
    text-align: center;
}
/* 4번째 combinator */
nav a {
    color: rgb(63, 63, 63);
    margin: 0 1rem;
    text-decoration: none;
    font-size: 1.2rem;
}

 /* 2번째 pseudo-class */
nav a:hover {  
    color: rgb(93, 103, 255);
    text-decoration-line: none;
}

/* 1번째 pseudo-element */
/*5번째 combinator */
#search_game > input::placeholder { 
    color: #3399ff;
}

/* 2번째 pseudo-element */
/*6번째 combinator */
.game>h3::first-letter { 
    color: #0062c4;
}

/* 테이블 스타일 */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 18px;
    text-align: left;
}

thead {
    background-color: #b3d9ff;
}

th, td {
    padding: 12px 15px;
    border: 1px solid #dddddd;
}

/*8번째 combinator */
tbody tr {
    border-bottom: 1px solid #dddddd;
}
/* 9번째 combinator */
tbody tr:nth-of-type(even) {
    background-color: #e6f2ff;
}
/* 10번째 combinator */
tbody tr:nth-of-type(odd) {
    background-color: #ffffff; /
}
/* 11번째 combinator */
tbody tr:last-of-type {
    border-bottom: 2px solid #3399ff; 
}

/*12번째 combinator */
td > img {
    vertical-align: middle;
}
/* 13번째 combinator */
td > img[src*="image"] {
    margin-right: 10px;
}

 /* 모바일 환경 (900px 이하)스타일 */
@media (max-width: 900px) {
    .column {
        width: 100%;
        margin: 10px 0;
    }

    table {
        font-size: 14px;
    }

    .logo {
        width: 60px;
        height: auto;
    }
    /* 14번째 combinator */
    td img {
        width: 200px;
        height: auto;
    }
}
